*.dump
*.txt
*.json
*.html
*.pyc
*.db
*.csv
*.log
*.xml
*.graphml

# ignore all files in the __pycache__ directory
__pycache__/*
bak/*
.specstory/*
*_data/*

# Environment variables and API keys
.env
